<!DOCTYPE html>
<html>
    <head>
        <title>monicaistan</title>
        <meta charset="utf-8">
        <script id="template" type="x-tmp-mustache"> Hello {{ name }}! </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="home.js"></script>
        <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    </head>
    <body>
        <div id="topnav">
            <span id="nav_logo">MonicaIsTan</span>
            <ul id="nav_list">
                <li><input type="checkbox" checked="true">all</li>
                <li><input type="checkbox">branding</li>
                <li><input type="checkbox">web design</li>
                <li><input type="checkbox">illustration</li>
            </ul>
            <div class="hamburger" onclick="hamburgerMenu(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
        </div>
        <div class="homepage" id="welcome_page">
            <h1 id="homepage_text">transform our brand.</h1>
            <h4 id="homepage_subtext">asjdfklasjldkfklasjdfklsajflkas djlkajs dflkjasl kfjslakdfjalsfjl</h4>
        </div>
        <div class="homepage" id="work_page">
            <div id="work_lists"></div>
        </div>
        <div class="homepage" id="about_page">
            <img src="http://68.media.tumblr.com/05a4c30ddc2439565160c08901fa129a/tumblr_inline_ofvp6h9ln51qksi3x_500.jpg">
            <h2>About Monica Tan:</h2>
            <p>Monica Tan is a designer from Austin Texas poop poop poop
                Monica Tan is a designer from Austin Texas poop poop poop
                Monica Tan is a designer from Austin Texas poop poop poop
                Monica Tan is a designer from Austin Texas poop poop poop
            </p>
            <h4>Click <a href="#">here</a> to download Monica's resume.</h4>
            <h4>Email: monicaistan@tan.istan</h4>
        </div>
    </body>
</html>
